html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans";
  color: #37474F;
  font-size: 1.6rem;
}

.page-header {
  position: absolute;

  width: 100%;

  padding: 20px;
  padding-top: 28px;
  box-sizing: border-box;
}

.page-nav .hamburger {
  border: 0;
  background: 0;

  position: absolute;
  right: 20px;
  top: 20px;

  width: 30px;
  height: 30px;

  fill: #FFFFFF;
}

.page-nav .hamburger .hamburger-icon {
  width: 18px;
  height: 6px;
}

.page-nav .hamburger .close-icon {
  display: none;
  width: 14px;
}


.page-nav .navigation-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  display: none;

  width: 100%;
  text-align: center;
}

.page-nav .navigation-menu li {
  border-bottom: 1px solid #F5F7F8;

  padding-top: 15px;
  padding-bottom: 15px;
}

.page-nav .navigation-menu li a {
  color: #000000;
  text-decoration: none;
  font-size: 1.4rem;
}

.page-nav .navigation-menu li.sign-up {
  border: 0;
  margin-top: 30px;
}

.page-nav .navigation-menu li.sign-up a{
  border: 2px solid #00BAA5;
  border-radius: 25px;

  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.page-header.nav-opened {
  background: #FFFFFF;
  box-shadow: -1px 9px 19px -8px rgba(0, 0, 0, 0.5);
}

.page-header.nav-opened .page-logo {
  fill: #000000;
}

.page-header.nav-opened .page-nav .hamburger {
  fill: #000000;
}

.page-header.nav-opened .page-nav .hamburger .hamburger-icon {
  display: none;
}

.page-header.nav-opened .page-nav .hamburger .close-icon {
  display: inline-block;
}

.page-header.nav-opened .navigation-menu {
  display: block;
}

.page-logo {
  fill: #FFFFFF;
  width: 100px;
}

.article .article-header {
  box-sizing: border-box;

  background: url(../img/header-bgr.jpg) no-repeat;
  background-size: cover;
  background-position: 50%;

  min-height: 60vh;

  padding: 20px;
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  flex: 1 1 0;

  color: #FFFFFF;
  text-align: center;
}

.article-title {
  margin: 0;
  font-weight: normal;
  font-size: 4.1rem;
  padding-bottom: 24px;
  margin: 0;
}

.article-lead {
  font-size: 2.1rem;
  font-weight: 300;
  padding-bottom: 44px;
  margin: 0;
}

.article-container,
.article-sidebar {
  padding: 15px;
  box-sizing: border-box;
}

.article-sidebar {
  border-top: 1px solid #ECEFF1;
  border-bottom: 1px solid #ECEFF1;

  padding-top: 82px;
  padding-bottom: 82px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 104px;
  margin-bottom: 104px;

  max-width: calc(100% - 30px);
  margin: auto;
}

.article-content p {
  margin-bottom: 35px;
}

.article-sidebar .article-picture {
  margin: 0;
  margin-bottom: 70px;
}

.article-sidebar .article-picture img {
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
}

.article-sidebar .article-picture .caption {
  color: #78909C;
  font-style: italic;
  text-align: center;
}

.article-author-photo {
  max-width: 60px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.article-author-name {
  color: #17C4AD;
  font-size: 1.4rem;
  margin: 0;
}

.article-author-name::after {
  content: "\00b7";
  display: block;
  color: #FFFFFF;
  font-size: 2rem;
}

.article-date {
  font-size: 1.4rem;
}

.article-container {
  padding-top: 82px;
  line-height: 26px;
}

.article-container p {
  margin-top: 0;
}

.page-footer {
  text-align: center;
  background-color: #F5F7F8;

  padding-top: 74px;
  padding-bottom: 48px;
}

.page-footer .navigation-menu {
  list-style: none;
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
}

.page-footer .navigation-menu li {
  margin-bottom: 35px;
}

.page-footer .navigation-menu li a {
  color: #00BFA5;
  text-decoration: none;
}

.page-footer .navigation-menu li:last-child {
  margin: 0;
}

.page-footer .copyright {
  margin: 0;
  color: #78909C;
}

.page-footer .company-logo {
  fill: #78909C;
  width: 105px;
}

@media (min-width: 40em) {

  .page-header {
    max-width: 1020px;
    margin: auto;
    left: 0;
    right: 0;
  }

  .page-nav .hamburger {
    display: none;
  }

  .page-nav {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .page-nav .navigation-menu {
    display: block;
  }

  .page-nav .navigation-menu li {
    display: inline-block;
    border: 0;
    margin-right: 48px;
  }

  .page-nav .navigation-menu li:last-child {
    margin: 0;
  }

  .page-nav .navigation-menu li a {
    color: #FFFFFF;
  }

  .article-content {
    max-width: 1020px;
    margin: auto;
  }

  .article-container {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;

    padding-left: 0;
    padding-right: 0;
    margin-bottom: 80px;
  }

  .article-sidebar {
    margin: 0;
  }

  .article-sidebar-content {
    max-width: 680px;
    margin: auto;
  }

  .article .article-header {
    padding-top: 200px;
    padding-bottom: 92px;
  }

  .article-lead {
    padding-bottom: 65px;
  }
}











